/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #8F560C;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #8F560C;
  color: #fff;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* =============================================================================
   Stripped down font-awesome styles
   ========================================================================== */
@font-face {
  font-family: "FontAwesome";
  src: url("../font/fontawesome-webfont.eot");
  src: url("../font/fontawesome-webfont.eot?#iefix") format("eot"), url("../font/fontawesome-webfont.woff") format("woff"), url("../font/fontawesome-webfont.ttf") format("truetype"), url("../font/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+f0c5;
  /* Only need a single icon */ }

.icon-copy::before {
  content: "\f0c5";
  vertical-align: top;
  font: normal normal normal 1.3333333333333333em FontAwesome;
  display: inline-block;
  text-decoration: inherit; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* =============================================================================
   SASS mixins
   ========================================================================== */
/* =============================================================================
   Theme colors
   ========================================================================== */
/* Base Theme Colors */
/* Complimentary Colors */
/* Error Colors */
/* Grays */
/* Shadows */
html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif; }

body {
  background-color: #202020;
  background-image: -webkit-linear-gradient(top, #202020, #202020 50%, #dc3625);
  background-image: -moz-linear-gradient(top, #202020, #202020 50%, #dc3625);
  background-image: -ms-linear-gradient(top, #202020, #202020 50%, #dc3625);
  background-image: -o-linear-gradient(top, #202020, #202020 50%, #dc3625);
  background-image: linear-gradient(to bottom, #dc3625, #202020 50%, #202020);
  background-position: 0 0;
  background-size: 100% 200%;
  -webkit-transition: background-position 500ms ease-out 0;
  -moz-transition: background-position 500ms ease-out 0;
  -ms-transition: background-position 500ms ease-out 0;
  -o-transition: background-position 500ms ease-out 0;
  transition: background-position 500ms ease-out 0; }

.hasError {
  background-position: 0 70%; }

.dark {
  color: #202020; }

.softenDark {
  color: #252525;
  text-shadow: -3px -3px 4px rgba(69, 69, 69, 0.7), 1px 1px 4px rgba(102, 102, 102, 0.7); }

.base {
  color: #1f5f8d; }

.logo {
  position: relative;
  margin: 0 auto;
  top: 0.45em;
  left: 10%; }
  .logo #bigK {
    position: relative;
    top: 0.37em; }
  .logo .logoText {
    position: relative; }

.titleText {
  font-size: 6.0em;
  font-weight: bold;
  text-align: left; }
  .titleText .accentText {
    font-size: 1.54em; }

.high-rise {
  z-index: 10; }

.low-rise {
  z-index: 1; }

.mid-rise {
  z-index: 5; }

.lg-box {
  border-radius: 20px/12px; }

.sm-box {
  border-radius: 10px/6px;
  width: 100%; }

.backdrop {
  max-width: 700px;
  width: 85%;
  padding: 5.5em 0 5px; }

.content {
  position: relative;
  max-width: 500px;
  width: 72.25%;
  /* 0.85 * 0.85 */
  border-radius: 20px/12px; }
  .content input {
    width: 50.575%;
    /* 0.85 * 0.85 * 0.7 */
    max-width: 300px;
    padding: 10px 15px;
    margin-left: 20px; }
    .content input + .connected-btn {
      left: -4px;
      top: 2px;
      position: relative; }

#mainBox {
  position: relative;
  top: -4.8em; }

.centered {
  margin: 0 auto; }

.glossy {
  background-color: #3d3d3d;
  box-shadow: inset 0 10px 70px 30px rgba(102, 102, 102, 0.7); }

.well {
  background-color: #1f5f8d;
  background-image: -webkit-linear-gradient(bottom, #1f5f8d, #3c80b0);
  background-image: -moz-linear-gradient(bottom, #1f5f8d, #3c80b0);
  background-image: -ms-linear-gradient(bottom, #1f5f8d, #3c80b0);
  background-image: -o-linear-gradient(bottom, #1f5f8d, #3c80b0);
  background-image: linear-gradient(to bottom, #1f5f8d, #3c80b0);
  padding: 50px;
  text-align: center;
  border: solid 3px #3c80b0; }

.contrast {
  background-color: #c18d48;
  color: #131313;
  background-color: #e0b377;
  background-image: -webkit-linear-gradient(top, #e0b377, #c18d48 60%, #a5783e);
  background-image: -moz-linear-gradient(top, #e0b377, #c18d48 60%, #a5783e);
  background-image: -ms-linear-gradient(top, #e0b377, #c18d48 60%, #a5783e);
  background-image: -o-linear-gradient(top, #e0b377, #c18d48 60%, #a5783e);
  background-image: linear-gradient(to bottom, #a5783e, #c18d48 60%, #e0b377);
  background-position: 0 100%;
  background-size: 100% 200%;
  -webkit-transition: background-position 100ms ease-out 0;
  -moz-transition: background-position 100ms ease-out 0;
  -ms-transition: background-position 100ms ease-out 0;
  -o-transition: background-position 100ms ease-out 0;
  transition: background-position 100ms ease-out 0; }
  .contrast:active {
    top: 3px;
    background-image: -webkit-linear-gradient(bottom, #c18d48, #a5783e);
    background-image: -moz-linear-gradient(bottom, #c18d48, #a5783e);
    background-image: -ms-linear-gradient(bottom, #c18d48, #a5783e);
    background-image: -o-linear-gradient(bottom, #c18d48, #a5783e);
    background-image: linear-gradient(to bottom, #c18d48, #a5783e); }
  .contrast:hover {
    color: #113551;
    text-shadow: 1px 0 1px gray;
    background-position: 0 0; }

.button {
  font-size: 15px;
  padding: 9px 15px 10px;
  text-decoration: none; }

.table-container {
  position: relative;
  margin: 1em auto;
  width: 95%; }

.data-table {
  font-size: 1.75em;
  background-color: #353535;
  table-layout: fixed; }
  .data-table tfoot tr {
    height: 5px; }
  .data-table .table-header {
    font-size: 0.8em;
    color: #1f5f8d;
    text-shadow: 1px 1px #131313; }
  .data-table th {
    text-align: left;
    padding: 3px 5px; }
  .data-table tbody {
    font-size: 0.75em;
    background-color: #454545; }
  .data-table td {
    padding: 3px 5px;
    color: gray;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden; }
  .data-table .numeric {
    text-align: right; }

.link-table .copy-header {
  width: 8%; }
.link-table .short-link-header {
  width: 25%; }
.link-table .long-link-header {
  width: 60%; }
.link-table .hits-header {
  width: 2em; }
.link-table .copy-cell {
  text-align: center; }
  .link-table .copy-cell i {
    -webkit-transition: color 150ms ease-out 0;
    -moz-transition: color 150ms ease-out 0;
    -ms-transition: color 150ms ease-out 0;
    -o-transition: color 150ms ease-out 0;
    transition: color 150ms ease-out 0; }
  .link-table .copy-cell.hover i {
    color: #dce3f3; }
.link-table .link {
  color: #5397c7;
  text-decoration: none; }
  .link-table .link:hover {
    color: #dce3f3;
    text-decoration: underline; }

.err {
  background-color: #dc3625;
  border-radius: 5px;
  box-shadow: 0 2px 0 #7c1308; }

.err-well {
  padding: 0.3em;
  line-height: 1.5em;
  margin-bottom: 10px; }

.fromTop {
  top: -8em; }

.toBottom {
  top: 0; }

footer {
  font-size: 1em;
  color: #3d3d3d;
  text-align: center;
  padding-bottom: 10px;
  width: 100%; }
  footer a {
    border-bottom: 1px dotted;
    color: #1f5f8d;
    text-decoration: none; }
    footer a:visited {
      color: #1f5f8d; }
    footer a:hover {
      color: #dce3f3; }

.shadowed-text {
  text-shadow: 1px 1px 1px #202020; }

.bottom {
  position: absolute;
  bottom: 0; }

.rounded-left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; }

.rounded-right {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }

.color-change {
  -webkit-transition: color 250ms linear 600ms;
  -moz-transition: color 250ms linear 600ms;
  -ms-transition: color 250ms linear 600ms;
  -o-transition: color 250ms linear 600ms;
  transition: color 250ms linear 600ms; }

.long-delay-fade {
  -webkit-transition: opacity 350ms linear 600ms;
  -moz-transition: opacity 350ms linear 600ms;
  -ms-transition: opacity 350ms linear 600ms;
  -o-transition: opacity 350ms linear 600ms;
  transition: opacity 350ms linear 600ms; }

.short-delay-fade {
  -webkit-transition: opacity 250ms linear 20ms;
  -moz-transition: opacity 250ms linear 20ms;
  -ms-transition: opacity 250ms linear 20ms;
  -o-transition: opacity 250ms linear 20ms;
  transition: opacity 250ms linear 20ms; }

.immediate-fade {
  -webkit-transition: opacity 400ms linear 0;
  -moz-transition: opacity 400ms linear 0;
  -ms-transition: opacity 400ms linear 0;
  -o-transition: opacity 400ms linear 0;
  transition: opacity 400ms linear 0; }

.slide {
  -webkit-transition: top 400ms ease-out 0;
  -moz-transition: top 400ms ease-out 0;
  -ms-transition: top 400ms ease-out 0;
  -o-transition: top 400ms ease-out 0;
  transition: top 400ms ease-out 0; }

.opaque {
  opacity: 1; }

.transparent {
  opacity: 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
