/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #8F560C;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #8F560C;
    color: #fff;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* =============================================================================
   Stripped down font-awesome styles
   ========================================================================== */
@font-face {
  font-family: "FontAwesome";
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('eot'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+f0c5; /* Only need a single icon */
}

.icon-copy::before {
  content: "\f0c5";
  vertical-align: top;
  font: normal normal normal 1.3333333333333333em FontAwesome;
  display: inline-block;
  text-decoration: inherit;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* =============================================================================
   SASS mixins
   ========================================================================== */
@mixin linear-gradient-bottom($start, $end) {
   background-image: -webkit-linear-gradient(bottom, $start, $end);
   background-image:    -moz-linear-gradient(bottom, $start, $end);
   background-image:     -ms-linear-gradient(bottom, $start, $end);
   background-image:      -o-linear-gradient(bottom, $start, $end);
   background-image:         linear-gradient(to bottom, $start, $end);
}

@mixin transition($prop, $dur, $easing, $delay: 0) {
   -webkit-transition: $prop $dur $easing $delay;
      -moz-transition: $prop $dur $easing $delay;
       -ms-transition: $prop $dur $easing $delay;
        -o-transition: $prop $dur $easing $delay;
           transition: $prop $dur $easing $delay;
}

@mixin rounded-side($side, $radius) {
  border-top-#{$side}-radius: $radius;
  border-bottom-#{$side}-radius: $radius;
}

@mixin rounded-ellipse($radii1, $radii2) {
  border-radius: $radii1 / $radii2;
}

@mixin animated-gradient($dark, $mid, $light, $per: 60%, $pos: 100%, $timing: 100ms) {
  background-color: $light;
  background-image: -webkit-linear-gradient(top, $light, $mid $per, $dark);
  background-image:    -moz-linear-gradient(top, $light, $mid $per, $dark);
  background-image:     -ms-linear-gradient(top, $light, $mid $per, $dark);
  background-image:      -o-linear-gradient(top, $light, $mid $per, $dark);
  background-image:         linear-gradient(to bottom, $dark, $mid $per, $light);

  background-position: 0 $pos;
  background-size: 100% 200%;
  @include transition(background-position, $timing, ease-out);
}

/* =============================================================================
   Theme colors
   ========================================================================== */
$dark: #202020;
$darker: darken($dark, 5%);

/* Base Theme Colors */
$base: #1F5F8D;
$baseAccent: #3C80B0;
$hover: #113551;
$border: #0095FF;

/* Complimentary Colors */
$comp: #C18D48;
$darkerComp: #A5783E;
$lighterComp: #E0B377;

$link: #5397C7;
$linkHover: #DCE3F3;

/* Error Colors */
$error: #DC3625;
$errorAccent: #7C1308;

/* Grays */
$gray: #3D3D3D;
$lightGray: #656565;
$darkGray: #353535;
$lighterGray: #454545;

/* Shadows */
$shadow: gray;
$darkShadow: rgba(69, 69, 69, 0.7);
$lightShadow: rgba(102, 102, 102, 0.7);

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  @include animated-gradient($error, $dark, $dark, 50%, 0, 500ms);
}

#container {
  header {
    width: 90%;
  }
}

.hasError {
  background-position: 0 70%;
}

.dark {
   color: $dark;
}

.softenDark {
  color: lighten($dark, 2%);
  text-shadow: -3px -3px 4px $darkShadow, 1px 1px 4px $lightShadow;
}

.base {
   color: $base;
}

.logo {
  position: relative;
  margin: 0 auto;

  #bigK {
    position: relative;
    top: 0.17em;
  }

  .logoText {
    position: relative;
  }
}

.titleText {
  font-size: 3.0em;
  font-weight: 700;
  text-align: center;

  .accentText {
    font-size: 1.54em;
  }

  .badge {

  }
}

.high-rise {
  z-index: 10;
}

.low-rise {
  z-index: 1;
}

.mid-rise {
  z-index: 5;
}

.lg-box {
  border-radius: 20px / 12px;
}

.sm-box {
  border-radius: 10px / 6px;
  width: 100%;
}

.backdrop {
  max-width: 700px;
  width: 85%;
  padding: 3.2em 0 5px;
}

.content  {
  position: relative;
  max-width: 500px;
  width: 72.25%; /* 0.85 * 0.85 */
  border-radius: 20px / 12px;

  input {
    width: 50.575%; /* 0.85 * 0.85 * 0.7 */
    max-width: 300px;
    padding: 11px 15px;

    & + .connected-btn {
      left: -4px;
      position: relative;
    }
  }

  .connected-input {
    border: 2px solid $border;
    border-right: none;
  }

  .connected-btn {
    border: 2px solid $border;
    border-left: none;
  }
}

#mainBox {
  position: relative;
  top: -4.8em;
}

.centered {
  margin: 0 auto;
}

.glossy {
  background-color: $gray;
  box-shadow: inset 0 10px 70px 30px $lightShadow;
}

.well {
  background-color: $base;
  @include linear-gradient-bottom($base, $baseAccent);
  padding: 30px;
  text-align: center;
  border: solid 3px $baseAccent;
}

.contrast {
  background-color: $comp;
  color: $darker;
  @include animated-gradient($darkerComp, $comp, $lighterComp);

  &:active {
    top: 3px;
    @include linear-gradient-bottom($comp, $darkerComp);
  }

  &:hover {
    color: $hover;
    text-shadow: 1px 0 1px $shadow;
    background-position: 0 0;
  }
}

.button {
  font-size: 15px;
  padding: 12px 15px 11px;
  text-decoration: none;
}

.table-container {
  position: relative;
  margin: 1em auto;
  width: 95%;
}

.data-table {
  font-size: 1.75em;
  background-color: $darkGray;
  table-layout: fixed;

  tfoot tr {
    height: 5px;
  }

  .table-header {
    font-size: 0.8em;
    color: $base;
    text-shadow: 1px 1px $darker;
  }

  th {
    text-align: left;
    padding: 3px 5px;
  }

  tbody {
    font-size: 0.75em;
    background-color: $lighterGray;
  }

  td {
    padding: 3px 5px;
    color: gray;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .numeric {
    text-align: right;
  }
}

.link-table {

  .copy-header {
    width: 1em;
  }

  .short-link-header {
    width: 125px;
  }

  .long-link-header {

  }

  .hits-header {
    width: 2.1em;
    display: none;
  }

  .copy-cell {
    text-align: center;

    i {
      @include transition(color, 150ms, ease-out);
    }

    &.hover i {
      color: $linkHover;
    }
  }

  .hits-cell {
    display: none;
  }

  .link {
     color: $link;
     text-decoration: none;

    &:hover {
       color: $linkHover;
       text-decoration: underline;
    }
  }
}

.err {
  background-color: $error;
  border-radius: 5px;
  box-shadow: 0 2px 0 $errorAccent;
}

.err-well {
  padding: 0.3em;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.fromTop {
   top: -8em;
}

.toBottom {
   top: 0;
}

footer {
  font-size: 1em;
  color: $gray;
  text-align: center;
  padding-bottom: 10px;
  width: 100%;

  a {
    border-bottom: 1px dotted;
    color: $base;
    text-decoration: none;

    &:visited {
      color: $base;
    }

    &:hover {
      color: $linkHover;
    }
  }
}

.shadowed-text {
  text-shadow: 1px 1px 1px $dark;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.rounded-left {
  @include rounded-side(left, 6px);
}

.rounded-right {
  @include rounded-side(right, 6px);
}

.color-change {
  @include transition(color, 250ms, linear, 600ms);
}

.long-delay-fade {
   @include transition(opacity, 350ms, linear, 600ms);
}

.short-delay-fade {
   @include transition(opacity, 250ms, linear, 20ms);
}

.immediate-fade {
   @include transition(opacity, 400ms, linear);
}

.slide {
   @include transition(top, 400ms, ease-out);
}

.opaque {
   opacity: 1;
}

.transparent {
   opacity: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 600px) {
  .logo {
    text-align: center;
    left: -1.4em;
    top: 0.58em;
    left: 10%;

    #bigK {
      top: 0.37em;
    }
  }

  .titleText {
    font-size: 6.0em;
    text-align: left;
  }

  .backdrop {
    padding: 5.5em 0 5px;
  }

  .well {
    padding: 50px;
  }

  .content {
    input {
      margin-left: 20px;
    }
  }

  .link-table {
    .hits-header {
      display: table-cell;
    }

    .hits-cell {
      display: table-cell;
    }
  }
}

@media only screen and (min-width: 676px) {
  /* Style adjustments for viewports 676 and over go here */
  .logo {
    text-align: center;
    left: -1.2em;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
